/**
  Title: global.css
  Author: James Harper
  Date: 3/27/2023
  Description: Web 231
*/
/**
  Sets the body font of the html document. font-family lists the fonts for the document in order of availability.
*/
body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
/**
Overall division container which adjusts the padding to 10px all around.
*/
#container {
  padding: 10px;
}
/**
Assigns properties to any element with the card class. Shadows on the right and bottom with color black. The transition
property set the time for the effect to take place in seconds.
*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
/**
Assigns properties to any element with the card-title class. Centers the text within the element, font size becomes
2em, text color in hex code, font weight adjusts the thickness of the letters.
*/
.card-title {
  text-align: center;
  font-size: 2em;
  color: #4F3674;
  font-weight: 400;
}
/**
Assigns properties to any element with the card-content class. Adjust the top and bottom padding to 2px and the
right and left padding to 16px.
*/
.card-content {
  padding: 2px 16px;
}
/**
Assigns properties to any element with the card class while hovering over the element with the cursor.
Shadows on the right and bottom with color black.
*/
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/**
Assigns properties to any element with the form class. Assign the the display as a grid with the columns set to
auto. Elements can then be assigned to a space on the page based on the grid column property.
*/
.form {
  display: inline-grid;
  grid-template-columns: auto;
}
/**
Assigns properties to any element with the form-field class. Sets padding on all sides to 20px.
*/
.form-field {
  padding: 20px;
}
/**
Assigns properties to any element with the btn class. Removes the default border, aligns text center within the
element, removes the default text styling, aligns all elements in a horizontal row side by side, makes the font
size 16px, top and bottom margin to 4px, right and left margin to 2px, changes the cursor to a pointing hand,
top and bottom padding to 15px, right and left padding to 32px, text color to black.
*/
.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  color: #000;
}
/**
Assigns properties to any element with the btn-primary class. Background color to the hex code indicated, text color
to white.
*/
.btn-primary {
  background-color: #4F3674;
  color: #fff;
}
/**
Assigns properties to any element with the btn-primary class while hovering over the element with the cursor.
Background color to the hex code indicated, text color to the hex indicated.
*/
.btn-primary:hover {
  background-color: #D6A800;
  color: #4F3674;
}
/**
Assigns properties to any element with the input class. Padding top and bottom to 12px, padding left and right
to 20px, margin top and bottom to 8px, margin right and left to 0px, removes the default text styling, aligns all
elements in a horizontal row side by side, creates a border 1px solid with hex code #ccc as the color,
border radius adjust the four points of the element by rounding them based on px value, creates a border around the
element within the container.
*/
.input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/**
Assigns properties to any element with the full-width class. Makes the width of the container 100% of the page size.
*/
.full-width {
  width: 100%;
}
/**
Color and removal of underline from the link at the bottom of the page.
*/
.return-home {
  color: #4F3674;
  text-decoration: none;
}
/**
Sets table borders to single border. Width to 100% of the parent. Margin bottom increased by 30px.
*/
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}
/**
Heading for tables have the padding increased by 12px for the top and bottom, text aligned left, background color
changed, font color changed.
*/
table th {
  padding: 12px 0;
  text-align: left;
  background-color: #4F3674;
  color: #FFF;
}
/**
Table data and table heading add an off-white solid border. Padding increased all around by 5px.
*/
table td, table th {
  border: solid 1px #DDD;
  padding: 5px;
}
/**
Table row when mouse pointer hovers over the element. Background color changed, font color changed, mouse cursor
changed to a pointer.
*/
table tr:hover {
  background-color: #D6A800;
  color: #4F3674;
  cursor: pointer;
}
